mixin nav_des(p,i,href,name,subir,bajar,title)
	li.menu__item
		if (p==1)
			a.menu__link(class=name  href=href)
				spam.nav-text=title
				span.subir=subir
				span.bajar=bajar
		else 
			a.red-social(target="_blank" href=href)
				i(class=name data-icon=i)

mixin nav-parallax(href,subir,bajar,title)
	li.menu_item.li(data-menuanchor=href)
		a.hover-nav.menu_link(href='#'+href)
			span.hover-subir=subir
			span.hover-bajar=bajar
			span.hover-txt(class="hover-nav-text-"+bajar)=title 

mixin check(p)
	.row
		.pd-2
			.col.s2.l2
				span.circle
					i.material-icons.check done
			.col.s10.l10
				p=p

mixin pilar(image,h4,p1,p2,p3)
	.row
		a(href="#").ico-img
			img.responsive-img.circle(src=image)
	.row
		h4.sub-title=h4
		p=p1
		p=p2
		p=p3

mixin perfil(img,name,p,h2,h6,cel)
	.mix(class=name)
		if (p==1)
			h2=h2
		else
			.carta 
				.lado.frente
					img.z-depth-3.circle(src=img)
				.lado.atras
					.perfil-hover
						h6=h6
						p=cel

mixin clientes(src,id,h4,cont,span,p1,p2,p3,p4,p5,p6)
	.carousel-item
		img.img-cliente(src=src)
		a.btn.nombre-cliente
			span=span
		a.btn.modal-trigger(href="#"+id)
			span Proyectos
	.modal(id=id)
		.modal-content
			.row
				.col.s4.left-align
					h5=h4
					img.responsive-img(src=src)
				.col.s8.left-align
					h5=p1
					ul.lista
						if (cont==1)
							li=p2
						else if (cont==2)
							li=p2
							li=p3
						else if (cont==3)
							li=p2
							li=p3
							li=p4
						else
							li=p2
							li=p3
							li=p4
							li=p5
							li=p6










