mixin nav_des(p,i,href,name,subir,bajar,title)
	li.menu__item
		if (p==1)
			a.menu__link(class=name  href=href)
				spam.nav-text=title
				span.subir=subir
				span.bajar=bajar
		else 
			a.red-social(target="_blank" href=href)
				i(class=name data-icon=i)

mixin nav-parallax(name,href,subir,bajar,title)
	li.menu_item.li.hide-on-med-and-down(data-menuanchor=href)
		a.hover-nav.menu_link(class=name href='#'+href)
			span.hover-subir=subir
			span.hover-bajar=bajar
			span.hover-txt(class="hover-nav-text-"+bajar)=title 




mixin title_h2(title,sub_title)
	.title
		h3.title_h=title
		h2.title_h=sub_title

mixin directorio(img,name,cargo,mail)
	.col-s2
		img(src=img)
	.col-s3
		.mail
			h6=name
			p=cargo
			p.ocultar=mail

mixin servicio-item(clase,h3,p)
	.container
		.row.mg-2
			.centrando-servicios
				button.btn_cerrar
					i.fa.fa-times  
				.title-h3.center-align
					h3=h3
				.centrando
					.servicio(class="servicio-"+clase)
						.div.div1
							.derecha.lado(class="derecha-"+clase)
						.div
							.izquierda.lado
								p=p









